@tailwind base;
@tailwind components;

html,
h1{
    font-size : 62.5%;
    font-family: "Molgak";
}
h2 {
    font-family: "Molgak";
}

p{
    font-family: "Inter";
}
.certificate {
    background-image: url('../public/Fond.png');
}

@tailwind utilities;


